
.cart-container {
    color: red;
    text-align: right;
    margin: 30px;;
}
.cart-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #2a628f;
    border: 2px solid #333;
    padding: 20px;
    z-index: 1000;
    width:700px;
    height:auto;
    border-radius: 15px;
}

.cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.cart-items {
    max-height: 300px;
    overflow-y: auto;
    border-radius: 10px;
}

.cart-item {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.cart-item:last-child {
    border-bottom: none;
    margin-bottom: 0;
}

.cart-item h3 {
    margin-bottom: 5px;
    /* color: #333; */
}

.cart-item p {
    margin: 0;
    color: #666;
    
    width: 500px;
    height:auto;
}

.main-container{
    width: 100%;
    height:100vh;
    background-color:#13293d;
}
.body{
    background-color: #333;
}
.container{
    margin:0px;
    height: auto;
    width:300px;
    background-color:#3DBBCC;
    border:10px solid #3D63CC;
border-radius: 4px;;

}
.heading{
    color: #CC3D66;
}